*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cards{
  margin: 10px auto;
  display: flex;
  gap: 2rem;
}
.card-1{
  background-color: rgb(48, 230, 48);
}
.card-2{
  background-color: rgb(197, 231, 42);
}
.card-3{
  background-color: rgb(42, 187, 231);
}
.card-1,
.card-2,
.card-3{
  width: max(100px, 50%);
  height: max(50px, 15vh);
  border: 2px solid;
  padding: 14px;
  border-radius: 7px;
}